{% load staticfiles %}

<div class="page-footer">
    <div class="page-footer-inner">
        Copyright {% now "Y" %} &copy; Secure Emigration
    </div>
    <div class="scroll-to-top">
        <i class="icon-arrow-up"></i>
    </div>
</div>
