{% load staticfiles %}

<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1.0" name="viewport" />
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<!-- BEGIN GLOBAL MANDATORY STYLES -->
<link href="http://fonts.googleapis.com/css?family=Roboto:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
<link href="{% static "assets/global/plugins/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css" />
<link href="{% static "assets/global/plugins/simple-line-icons/simple-line-icons.min.css" %}" rel="stylesheet" type="text/css" />
<link href="{% static "assets/global/plugins/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet" type="text/css" />
<link href="{% static "assets/global/plugins/uniform/css/uniform.default.css" %}" rel="stylesheet" type="text/css" />
<link href="{% static "assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" %}" rel="stylesheet" type="text/css" />
<link href="{% static "assets/admin/pages/css/search.css" %}" rel="stylesheet" type="text/css" />
<link href="{% static "assets/admin/pages/css/blog.css" %}" rel="stylesheet" type="text/css" />
<link href="{% static "assets/admin/pages/css/news.css" %}" rel="stylesheet" type="text/css" 
<!-- END GLOBAL MANDATORY STYLES -->
<!-- BEGIN THEME STYLES -->
<link href="{% static "assets/global/css/components-rounded.css" %}" id="style_components" rel="stylesheet" type="text/css" />
<link href="{% static "assets/global/css/plugins.css" %}" rel="stylesheet" type="text/css" />
<link href="{% static "assets/admin/layout3/css/layout.css" %}" rel="stylesheet" type="text/css" />
<link href="{% static "assets/admin/layout3/css/theme/default.css" %}" rel="stylesheet" type="text/css" />



{# <link id="style_color" href="{% static "assets/admin/layout3/css/themes/darkblue.css" %}" rel="stylesheet" type="text/css" /> #}
<link href="{% static "assets/admin/layout3/css/custom.css" %}" rel="stylesheet" type="text/css" />
<!-- END THEME STYLES -->

{% block extrahead %}
{% endblock extrahead %}

<link rel="shortcut icon" href="{% static "favicon.ico" %}" />
