{% load staticfiles %}

<!-- BEGIN CORE PLUGINS -->
<!--[if lt IE 9]>
<script src="{% static "assets/global/plugins/respond.min.js" %}"></script>
<script src="{% static "assets/global/plugins/excanvas.min.js" %}"></script>
<![endif]-->
<script src="{% static "assets/global/plugins/jquery.min.js" %}" type="text/javascript"></script>
<script src="{% static "assets/global/plugins/jquery-migrate.min.js" %}" type="text/javascript"></script>
<!-- IMPORTANT! Load jquery-ui.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
<script src="{% static "assets/global/plugins/jquery-ui/jquery-ui.min.js" %}" type="text/javascript"></script>
<script src="{% static "assets/global/plugins/bootstrap/js/bootstrap.min.js" %}" type="text/javascript"></script>
<script src="{% static "assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" %}" type="text/javascript"></script>
<script src="{% static "assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" %}" type="text/javascript"></script>
<script src="{% static "assets/global/plugins/jquery.blockui.min.js" %}" type="text/javascript"></script>
<script src="{% static "assets/global/plugins/jquery.cokie.min.js" %}" type="text/javascript"></script>
<script src="{% static "assets/global/plugins/uniform/jquery.uniform.min.js" %}" type="text/javascript"></script>
<script src="{% static "assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" %}" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<script src="{% static "assets/global/scripts/metronic.js" %}" type="text/javascript"></script>
<script src="{% static "assets/admin/layout3/scripts/layout.js" %}" type="text/javascript"></script>
<script src="{% static "assets/admin/layout3/scripts/quick-sidebar.js" %}" type="text/javascript"></script>
<script src="{% static "assets/admin/layout3/scripts/demo.js" %}" type="text/javascript"></script>
<script>
jQuery(document).ready(function() {
    Metronic.init(); // init metronic core components
    Layout.init(); // init current layout
    Demo.init(); // init demo features
});
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-74143547-1', 'auto');
  ga('send', 'pageview');

</script>