{% load staticfiles %}
    <!-- BEGIN HEADER MENU -->
<div class="page-header-menu">
    <div class="container">
        <!-- BEGIN HEADER SEARCH BOX -->
        <form class="search-form" action="{% url 'manpower:list_manpower' %}" method="GET">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" name="query">
                <span class="input-group-btn">
                    <a href="javascript:;" class="btn submit"><i class="icon-magnifier"></i></a>
                </span>
            </div>
        </form>
        <div class="hor-menu ">
            <ul class="nav navbar-nav">
                <li>
                    <a href="{% url 'home' %}">Home</a>
                </li>
                <li class="menu-dropdown classic-menu-dropdown">
                    <a data-hover="megamenu-dropdown" data-close-others="true" data-toggle="dropdown" href="javascript:;" class="hover-initialized" aria-expanded="true">
                    Manpower<i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu pull-left">
                        <li class=" dropdown">
                            <a href="{% url 'manpower:list_manpower' %}">
                            <i class="fa fa-building"></i>
                            Manpowers </a>
                        </li>
                        <li class=" dropdown">
                            <a href="{% url 'manpower:add_manpower' %}">
                            <i class="fa fa-plus"></i>
                            Add Manpower </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="{% url 'report_list' %}">Reports</a>
                </li>
                <li>
                    <a href="{% url 'user:list_user' %}">Users</a>
                </li>
            </ul>
        </div>
    </div>
</div>
    <!-- END HEADER MENU -->