<footer>
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				
			</div>
			<div class="col-lg-4">
				<h3><small>Developed By</small> <span style="text-shadow:1px 1px 1px #010101">Team Binary</span></h3>

			</div>
			
		</div>
		
	</div>
	
</footer>
