{% extends "layout/base.html" %}
{% load staticfiles %}

{% block title %}
	Secure Emigration
{% endblock title %}

{% block main %}
	<div class="page-content">
		<div class="container">
			<div class="portlet light">
				<div class="portlet-body">
					<div id="myCarousel" class="carousel image-carousel slide">
						<div class="carousel-inner">
							<div class="active item">
								<img src="{% static '1.jpg' %}" class="img-responsive" alt="">
								<div class="carousel-caption">
									<h4>
									<a href="#">
									Secure Emigration </a>
									</h4>
									<p>
										सुरक्षित बैदेशिक रोजगारी
									</p>
								</div>
							</div>
							<div class="item">
								<img src="{% static '2.jpg' %}" class="img-responsive" alt="">
								<div class="carousel-caption">
									<h4>
									<a href="#">
									Secure Emigration  </a>
									</h4>
									<p>
										 सुरक्षित बैदेशिक रोजगारी
									</p>
								</div>
							</div>
							<div class="item">
								<img src="{% static '3.jpg' %}" class="img-responsive" alt="">
								<div class="carousel-caption">
									<h4>
									<a href="#">
									Secure Emigration  </a>
									</h4>
									<p>
										सुरक्षित बैदेशिक रोजगारी
									</p>
								</div>
							</div>
						</div>
						<!-- Carousel nav -->
						<a class="carousel-control left" href="#myCarousel" data-slide="prev">
						<i class="m-icon-big-swapleft m-icon-white"></i>
						</a>
						<a class="carousel-control right" href="#myCarousel" data-slide="next">
						<i class="m-icon-big-swapright m-icon-white"></i>
						</a>
						<ol class="carousel-indicators">
							<li data-target="#myCarousel" data-slide-to="0" class="active">
							</li>
							<li data-target="#myCarousel" data-slide-to="1">
							</li>
							<li data-target="#myCarousel" data-slide-to="2">
							</li>
						</ol>
					</div> 
					<div class="row">
					<div class="col-md-12">
					<div class="top-news margin-top-10">
						<a href="javascript:;" class="btn blue">
						<span>
						महत्वपूर्ण जानकारी </span>
						<em>
						<i class="fa fa-tags"></i>
						Emigration, Nepal </em>
						<i class="fa fa- icon-bullhorn top-news-icon"></i>
						</a>
					</div>
					<div class="row">
					<div class="col-md-4">
					<div class="news-blocks">
						<h3>
						<a href="#">
						बैदेशिक रोजगारमा जाने व्यक्तिहरुका  लागि अत्यन्त जरुरी सूचना</a>
						</h3>
						<div class="news-block-tags">
						</div>
						<p>
						 बैदेशिक रोजगारलाई सुरक्षित, व्यवस्थित र मर्यादित बनाई नेपाली कामदारहरुलाई वैदेशिक रोजगारीमा पठाउने सन्दर्भमा श्रम स्वीकृतिका लागि पेश गरिने कागजात प्रमाणहरु सत्य र तथ्यमा आधारित नभएको अवस्थामा&nbsp; वैदेशिक रोजगारीमा जाने कामदारहरु करार बमोजिम काम, सुविधा नपाई मर्का पर्ने, विदेशी भूमिमा पिडित बन्नु पर्ने , स्वदेश फर्कन कठिनाई हुने , कतिपय अवस्थामा जेल सजाय समेत भोग्नुपर्ने र ज्यान समेत गुमाउनु पर्ने हुन सक्छ । यसर्थ बैदेशिक रोजगारमा जाने व्यक्तिहरुले निम्न विषयहरुमा विशेष ध्यान पुर्याई, यकिन गरि श्रम स्वीकृति लिएर वैधानिक रुपमा मात्र बैदेशिक रोजगारमा जान सम्बन्धित सबै सरोकारवालाहरुको जानकारीको लागि&nbsp; यो सूचना&nbsp; प्रकाशित ........

						</p>
						<a href="#" class="news-block-btn">
						Read more <i class="m-icon-swapright m-icon-black"></i>
						</a>
					</div>
					</div>
					<div class="col-md-4">
					<div class="news-blocks">
						<h3>
						<a href="#">
						विदेशबाट नेपालमा पैसा पठाउने तरिकाहरु सम्बन्धी जानकारी</a>
						</h3>
						<div class="news-block-tags">
						</div>
						<p>
							१. विदेशबाट नेपालमा पैसा पठाउन के के तरिकाहरु छन् ?</b><br>विदेशबाट नेपालमा आफ्ना आफन्तहरुलाई पैसा पठाउन बैंक खाता वा रेमिटेन्स कम्पनीहरुको माध्यम प्रयोग गर्न सकिन्छ । रेमिटेन्स कम्पनीका उदाहरणहरु Western Union:Money Transfer, IME, MoneyGram आदि हुन् र बैंक खाताभन्दा रेमिटेन्सबाट पैसा पठाउन तुलनात्मक रुपमा सस्तो र सरल हुन्छ । <br>रेमिटन्सबाट पैसा पठाउँदा आफूले रोजगारी गरिरहेको देश र पैसा पठाउन चाहेको देशमा उपलब्ध रेमिटेनस कम्पनीहरुमध्ये कुनैको काउन्टरमा गई पैसा पठाउने र प्राप्त गर्ने व्यक्ति, ठेगाना, रकम आदि जानकारीहरु एउटा फारममा भरेपछि रेमिटेन्स कम्पनीले एउटा गोप्य नम्बर पैसा पठाउने व्यक्तिलाई दिन्छ । फाराममा पैसा प्राप्त गर्ने भनेर तोकिएको व्यक्तिले उक्त नम्बर र आफ्नो परिचय पत्र लिई उक्त रेमिटेन्स कम्पनीको काउण्टरमा गएमा सजिलै पैसा प्राप्त गर्न सकिन्छ । बैंकबाट बैंक खातामार्फत मात्र पैसा पठाउन सकिन्छ । यसका लागि............ 
						</p>
						<a href="#" class="news-block-btn">
						Read more <i class="m-icon-swapright m-icon-black"></i>
						</a>
					</div>
					</div>
					<div class="col-md-4">
					<div class="news-blocks">
						<h3>
						<a href="#">
						वैदेशिक रोजगारीमा जान चाहने व्यक्तिहरुले थाहा पाउनुपर्ने कुराहरु</a>
						</h3>
						<div class="news-block-tags">
						</div>
						<p>
							क) उमेर र विवरण<br>१८ वर्ष पूरा भएको अवस्थामा मात्र वैदेशिक रोजगारीको प्रक्रिया अवलम्बन गर्नुपर्छ । <br>रोजगारीमा जानेक्रममा झुटा विवरण वा कागजात पेश गर्नुहुँदैन । <br><br>ख) संस्थागत पहल<br>वैदेशिक रोजगारको निमित्त अनुमति प्राप्त गरेका एजेन्सीहरुसँग मात्र वैदेशिक रोजगारीमा जाने सम्बन्धी कारोबार गर्नुपर्छ । <br>संस्थासँग व्यक्तिगत तवरले जानेगरी काम कारवाही गर्न हुँदैन । <br>व्यक्तिगत रुपमा वैदेशिक रोजगारीमा जान चाहनेले वैदेशिक रोजगार विभागको स्वीकृति प्राप्त ग ..........
						</p>
						<a href="#" class="news-block-btn">
						Read more <i class="m-icon-swapright m-icon-black"></i>
						</a>
					</div>
					</div>
					</div>
					</div>
					</div>
				</div>
			</div>
			<!-- END PAGE CONTENT INNER -->
		</div>
	</div>
	<!-- END PAGE CONTENT -->
</div>
{% endblock main %}
