{% extends "layout/base.html" %}

{% block title %}
	Manpower | Add
{% endblock  %}


{% block content %}
    <div class="portlet light">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-plus font-green-sharp"></i>
                <span class="caption-subject font-green-sharp bold uppercase">Add a Manpower</span>
            </div>
        </div>
        <div class="portlet-body form">
            <form role="form" method="POST" action="" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-body">
                	<div class="form-group">
                        <label id="name" for="{{form.name.id_for_label}}" >Name</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                            <i class="fa fa-user"></i>
                            </span>
                            {{form.name}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label id="address" for="{{form.address.id_for_label}}" >Address</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                            <i class="fa fa-map-marker"></i>
                            </span>
                            {{form.address}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label id="contact_no" for="{{form.contact_no.id_for_label}}" >Contact No</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                            <i class="fa fa-phone"></i>
                            </span>
                            {{form.contact_no}}
                        </div>
                    </div>
                    <div class="form-group">
    					<label id="website" for="{{form.website.id_for_label}}" >Website</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                            <i class="fa fa-globe"></i>
                            </span>
                            {{form.website}}
                        </div>
                    </div>
                    <div class="form-group">
    					<label id="email" for="{{form.email.id_for_label}}" >Email</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                            <i class="fa fa-envelope"></i>
                            </span>
                            {{form.email}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label id="registration_no" for="{{form.registration_no.id_for_label}}" >Registration No</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                            <i class="fa fa-calculator"></i>
                            </span>
    						{{form.registration_no}}
                        </div>
                    </div>
                    <div class="form-group">
                    	<label id="country_list" for="{{form.country_list.id_for_label}}" >Country List</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                            <i class="fa fa-file"></i>
                            </span>
    						{{form.country_list}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label id="image" for="{{form.image.id_for_label}}" >Image</label>
                        <div class="input-group">
    						{{form.image}}
                        </div>
                    </div>
                    <button class="margin-top-20 btn blue" type="submit">Add Manpower</button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
