{% extends "layout/base.html" %}
{% load staticfiles %} 

{% block title %}
	Report | Lists
{% endblock  %}


{% block content %}
 	<!-- BEGIN PAGE CONTAINER -->
<div class="page-container">
	<div class="page-content">
		<div class="container">
			<div class="portlet light">
				<div class="portlet-title">
					<div class="caption">
						<i class="fa fa-file font-green-sharp"></i>
						<span class="caption-subject font-green-sharp bold uppercase">objects</span>
					</div>
				</div>
				<div class="portlet-body">
					<div class="table-scrollable">
						<table class="table table-striped table-hover">
						<thead>
						<tr>
							<th>
								S.N.
							</th>
							<th>
								Report Title
							</th>
							<th>
								Reported Manpower
							</th>
							<th>
								Reporter
							</th>
							<th>
								Status
							</th>
						</tr>
						</thead>
						<tbody>
						{% for object in object_list %}
						<tr>
							<td>
								{{forloop.counter}}
							</td>
							<td>
								<a href="{{object.get_absolute_url}}">{{object.title}}</a>
							</td>
							<td>
								<a href="{% url 'manpower:show_manpower' object.manpower.slug %}">{{object.manpower}}</a>
							</td>
							<td>
							<a href="{% url 'user:show_profile' object.user|slugify %}">{{object.user}}</a>
							</td>
							<td>
								{% if object.verification_status %}
									<span class="label label-md label-success">
									Verified
									</span>
								{% else %}
									<span class="label label-md label-warning">
									Pending
									</span>
								{% endif %}
							</td>
						</tr>
						{% endfor %}
						</tbody>
						</table>
					</div>
				</div>
			</div>

			<div class="margin-top-50">
				<ul class="pagination pagination-square">
			        {% if object_list.has_previous %}
			        	<li>
			            	<a href="?{{ page_request_var }}={{ object_list.previous_page_number }} "><span aria-hidden="true">&laquo;</span></a>
			            </li>
			        {% else %}
			        	<li>
			            	<a href="#"><span aria-hidden="true">&laquo;</span></a>
			            </li>
			        {% endif %}
			        {% for i in object_list.paginator.page_range %}
			        	<li {% if i == object_list.number %}class="active"{% endif %}>
			        		<a href="?{{ page_request_var }}={{i}}">{{i}}</a>
			        	</li>
			        {% endfor %}
			        {% if object_list.has_next %}
			        	<li>
			            	<a href="?{{ page_request_var }}={{ object_list.next_page_number }}"><span aria-hidden="true">&raquo;</span></a>
			            </li>
			         {% else %}
			        	<li>
			            	<a href="#"><span aria-hidden="true">&raquo;</span></a>
			            </li>
			        {% endif %}
				</ul>
			</div>
			
		</div>
	</div>
</div>

{% endblock content %}
