.border-square{
	border-radius:2px;
}

.shadow{
    box-shadow: 5px 5px 5px #cecece;
}
.border{
	margin-top: 20px;
	border-radius:5px;
	padding: 40px; 
	background-color: #efefef; 
	box-shadow: 5px 5px 5px #cecece;
}
.checkbox {
	padding-bottom: 5px;,
  	font-weight: normal;
}
footer{
	background-color: #efefef;
	margin-top: 20px;
	padding: 30x;
	text-align: center;
	box-shadow: 0px -5px 5px #cecece;
}

body{
	margin-top: 50px;
	background-color:#f7f7f7; 
}

header.marquee {
    padding: 50px 0;
    text-align: center;
    background-color: #333;
    background-image: url(./foreign_employment.jpg);
    background-repeat: no-repeat;
    background-position: top center;
}

header.marquee .brand-name {
    display: block;
    font-size: 50px;
    line-height: 1;
}

header.marquee h1 {
    font-size: 24px;
    line-height: 1;
    margin: 20px 0
}

header.marquee p {
    font-size: 16px;
    line-height: 1.4
}

header.marquee p a h1 {
    text-decoration:none;
}
@media (min-width:768px) {
    header.marquee {
        padding: 150px 0
    }
    header.marquee .brand-name {
        font-size: 80px
    }
    header.marquee h1 {
        font-size: 34px
    }
    header.marquee a {
        text-decoration: none;
    }
    header.marquee p {
        font-size: 20px
    }
}
