{% extends "layout/base.html" %}

{% block title %}
    Login
{% endblock  %}


{% block content %}
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                <i class="fa fa-sign-in font-green-sharp"></i>
                <span class="caption-subject font-green-sharp bold uppercase">Login</span>
                </div>
            </div>
            <div class="portlet-body form">
                <form role="form" method="POST" action="" enctype="multipart.form-data">
                    {% csrf_token %}
                    <div class="form-body">
                        <div class="form-group">
                            <label id="username" for="{{form.username.id_for_label}}" >Username</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-envelope"></i>
                                </span>
                                {{form.username}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label id="password" for="{{form.password.id_for_label}}" >Password</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-asterisk"></i>
                                </span>
                                {{form.password}}
                            </div>
                        </div>
                        <label class="rememberme check">
                        <input type="checkbox" name="remember" value="1"/>Remember </label>
                        <a href="javascript:;" id="forget-password" class="forget-password">Forgot Password?</a>
                        <button class="btn btn-lg btn-primary btn-block blue" type="submit">Login</button>
                    </div>
                </form>
                Registered?? If Not, <a href="{% url 'accounts:register' %}">Register</a>
                <ul class="social-icons">
                    <li>
                        <a class="social-icon-color facebook" data-original-title="facebook" href="javascript:;"></a>
                    </li>
                    <li>
                        <a class="social-icon-color twitter" data-original-title="Twitter" href="javascript:;"></a>
                    </li>
                    <li>
                        <a class="social-icon-color googleplus" data-original-title="Goole Plus" href="javascript:;"></a>
                    </li>
                    <li>
                        <a class="social-icon-color linkedin" data-original-title="Linkedin" href="javascript:;"></a>
                    </li>
                    <li>
                        <a class="social-icon-color pintrest" data-original-title="Pintrest" href="javascript:;"></a>
                    </li>
                </ul>

            </div>
        </div>
        
    </div>
</div>
 
{% endblock content %}
